body {
	background-image: url('../imagenes/entradaBar3.jpg');
	background-size: 1366px;
}

.navbar-wrapper {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: 20;
  margin-top: 20px;
}


.index-busc .wrapper {
	display: inline-block;
	vertical-align: middle;
	display: inline;
	zoom: 1;
}

.index-busc {
	top: 0px;
	left: 15px;
	text-align: left;
	position: relative;
}


.index-busc .index-busc-cab-ajustes  {
	text-align: left;
	background: rgba(255,255,255,.8);
	/*padding: 20px 15px;*/
	margin: 0 auto;
  margin-left: 5%;
	margin-top: 20px;
	width: auto;
	left: 5px;
	z-index: 100;
	position: relative;
  border-radius: 4px;
	box-shadow: 0 2px 0 0 rgba(0,0,0,.03);
	background-color: #fff;
	border: 1px solid #e1e1e1;

}

.form-horizontal {
	border-bottom: 1px solid #e1e1e1;
	padding-top: 25px;
}

.form-group {
  margin-right: -145px !important;
}

.header {
	position: relative;
	background: #f1f1f1;
	border-radius: 2px 2px 0 0;
	border-bottom: 1px solid #e1e1e1;
	padding: 10px;
}

.welcomeUser {
  margin-top: 10%;
  margin-left: 5%;
  text-align: center;
}

.header {
	position: relative;
	background: #f1f1f1;
	border-radius: 2px 2px 0 0;
	border-bottom: 1px solid #e1e1e1;
	padding: 10px;
}

.box-opciones {
	box-sizing: border-box;
	border-bottom: 1px solid #e1e1e1;
}

.box-herramientas {
	border-radius: 4px;
	box-shadow: 0 2px 0 0 rgba(0,0,0,.03);
	background-color: #fff;
	border: 1px solid #e1e1e1;
	margin-bottom: 15px;
	margin-top: 7%;
	position: relative;
	left: 50px;
}

.selected {
	color: #222;
	font-weight: 600;
}

.control-label {
	text-align: left !important;
	padding-left: 35px;
}

a {
	display: inline-block;
	text-decoration: none;
	color: #F76C6F;
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
}

ul {
	list-style: none;
	font-size: 14px;
	line-height: 23.8px;
	margin: 0;
	padding: 0;
}
li {
	box-sizing: border-box;
	border-bottom: 1px solid #e1e1e1;
	padding: 8px 15px;
	padding-top: 15px;
	margin: 0
}

h3 {
	margin-top: 5px;
}

.cuadroEnlaces {
  display: flex;
  flex-direction: column;
  margin-top: 20%;
  text-align: right;
  margin-right: 15%;
  background-color: beige;
}

/** Iconos **/

.fa-cog, .fa-star, .fa-sign-out, .fa-user  {
  margin-left: 10px;
  font-size: 16px !important;
  vertical-align: text-top;
	padding-right: 15px;
}
