/** ESTILO CONTENEDOR **/
.container-fluid {
    margin-left: 360px;
}
/** FIN **/


/** Estilos panel **/
.panel-heading {

    background-color: chocolate !important;
    border-color: chocolate !important;
}

.panel-primary {
    border-color: chocolate;
    width: 50%;
}

/** FIN **/


/** ESTILO INPUT **/

.inputForm {
  margin-bottom: 10px !important;
  border-radius: 4px !important;
}

/** FIN **/

/** ESTILO BOTONES **/

#btnEnviar, #btnBorrar {
  margin-right: 10px;
}

.botonera {
  margin-bottom: 20px;
}

/** FIN **/
