/** ESTILO CONTENEDOR **/
.container {
    /*margin-left: 73px !important;*/
}
/** FIN **/

body {
  background-image: url('../imagenes/entradaBar3.jpg');
  background-size: 1440px;
}

h3 {
	margin-top: 5px;
}


.navbar-wrapper {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: 20;
  margin-top: 20px;
}

.index-busc .wrapper {
	display: inline-block;
	vertical-align: middle;
	display: inline;
	zoom: 1;
}

.index-busc {
	top: 150px;
	text-align: center;
	position: relative;
}


.index-busc .index-busc-cab-acceso  {
	text-align: center;
	background: rgba(255,255,255,.8);
	padding: 20px 15px;
	margin: 0 auto;
	width: 320px;
  height: 345px;
	z-index: 100;
	position: relative;
  border-radius: 4px;
        left: 65px;
}

.index-busc .index-busc-cab-contacto  {
	text-align: center;
	background: rgba(255,255,255,.8);
	padding: 20px 15px;
	margin: 0 auto;
	width: 325px;
  height: 345px;
	z-index: 100;
	position: relative;
  border-radius: 4px;
 

}

.index-busc .index-busc-cab-datos-empresa  {
	text-align: center;
	background: rgba(255,255,255,.8);
	padding: 20px 15px;
	margin: 0 auto;
	width: 325px;
	z-index: 100;
	position: relative;
  border-radius: 4px;
  right: 70px;
}


.index-busc .index-busc-cab-datos-botonera  {
  position: relative;
	text-align: center;
	background: rgba(255,255,255,.8);
	padding: 20px 15px;
	margin: 0 auto;
	width: 460px;
	z-index: 100;
	position: relative;
  border-radius: 4px;
  top: 25px;
  left: 115px;
}

.input-group {
  width: 93%;
}

/** ESTILO INPUT **/



/** FIN **/

/** ESTILO BOTONES **/

#btnEnviar, #btnBorrar {
  margin-right: 10px;
}

.botonera {
  margin-bottom: 20px;
}

/** FIN **/

.miModal {
  display: none;
}
