/** ESTILO CONTENEDOR **/
.container-fluid{
    margin-left: 360px;
}
/** FIN **/


/** ESTILO INPUT **/

.inputForm {
  margin-bottom: 10px !important;
  border-radius: 4px !important;
}

/** FIN **/

/** ESTILO BOTONES **/

#btnEnviar, #btnBorrar {
  margin-right: 10px;
}

.botonera {
  margin-bottom: 20px;
}

/** FIN **/

.miModal {
  display: none;
}
