
/* No se usa */
.recuadroBlanco
{
  width: auto;
  height: 110px;
}
/**************************/


/* No va */
.redondeadoButton {
  border-radius: 4px;
}

/*********/

/** CSS general **/

hr {
  width: : 4px;
}

.panel-primary > .panel-heading {
  background-color: chocolate !important;
  border-color: chocolate !important;
}

.panel-primary {
  border-color: chocolate !important;
}

.containerImage {
  background-color: white;
  width: ;
  height: ;
  padding: 5px;
  height: 400px;
  overflow-x: hidden;
  overflow-y: auto;
}

.colorTitulo {
  color: #b94000;
  padding-left: 20px;
  font-family: lao mn;
  font-weight: bolder;
  font-size: 10px;
}
.jumbotron {
    background-color: white;
    padding-top: 15px !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
    margin-bottom: auto;
}

#btnBuscar, #btnBusquedaAvanzada, #iconoLupa {
  background-color: darkcyan;
}

.etiquetaLupa {
  background-color: darkcyan;
}



/* Apartado de login */


.row-index
{
  width: 75%;
}

/* Ajuste padding cabecera */
.noPaddingLogin {
  padding-left: 0px;
}

#login {
  padding-bottom: 15px;
  background-color: #f5f5f5;
}

.noPaddingDirectorio {
  padding-right: 0px;
}

.panelLogin {
  border-radius: 0px;
}

/* Fin padding cabecera */

/* Padding busqueda avanzada */

.paddingBusquedaAvanzada {
  padding-top: 15px;
}

/************** FIN ESTILOS ************/

/* Estilos para el display oculto */
.paddingOculto {
  padding-top: 15px;
}

.paddingOcultoFondo {
  background-color: white;
}

/************** fin estilos ************/



/** Medias queries **/

@media screen and (min-width: 768px) {

  .paddingBusquedaAvanzada {
    padding-top: 0px;;
  }
}

@media screen and (max-width: 360px) {

  .row {
    margin-left: 0px;;
  }

/** Medias queries con valores especificos **/

@media only screen and (max-width: 360px) {

.col-xs-offset-2 {
  margin-left: 10.667%;
}

#login {
  padding: 14px;
}

@media only screen and (max-width: 320px) {

.col-xs-offset-2 {
    margin-left: 5.667%;
}

#login {
  margin-bottom: 20px;
}
