
.recuadroBlanco
{
  width: auto;
  height: 110px;


}

.jumbotron {
    background-color: white;
}

/* Apartado de login */
#login {
  background-color: #f5f5f5;
  padding: 8px;
}

.row-index
{
  width: 75%;
}

/* Ajuste padding cabecera */
.noPaddingLogin {
  padding-left: 0px;

}

.noPaddingDirectorio {
  padding-right: 0px;
}

/* Fin padding cabecera */
