
/** Correcion margen izquierdo navbar **/
.container {
  margin-left: 73px !important;
}

body {
  background-image: url("../imagenes/entradaBar2.jpg");
}

.navbar-wrapper {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: 20;
  margin-top: 20px;
}

.index-busc .wrapper {
	display: inline-block;
	vertical-align: middle;
	display: inline;
	zoom: 1;
}

.index-busc {
	top: 150px;
	text-align: center;
	position: relative;
}


.index-busc .index-busc-cab-registro  {
	text-align: center;
	background: rgba(255,255,255,.8);
	padding: 20px 15px;
	margin: 0 auto;
	width: 390px;
	z-index: 100;
	position: relative;
  border-radius: 4px;
}

.index-busc .index-busc-cab-alta  {
	text-align: center;
	background: rgba(255,255,255,.8);
	padding: 20px 15px;
	margin: 0 auto;
	width: 275px;
	z-index: 100;
	position: relative;
  border-radius: 4px;
}
/** Fin **/

/*** ESTILOS PARA LOS BOTONES DE LOGIN ***/

#btnAcceder, #btnAlta, #btnOlvido {
  border-radius: 4px;
  background-color: darkcyan;

}
#btnAcceder {
  margin-right: 5px;
}

#btnAlta {
  margin-right: 5px;
}

.separacionTop {
  padding-top: 13px;
}

/*** FIN ***/


/*** ESTILOS INPUT ***/

#email, #password {
  width: 195px;
}

/*** FIN ***/

/*** ESTILOS GRUPOS DE INPUT Y BOTONES ***/

.ajusteLateral {
  padding-left: 63px;
}
