
/** Correcion margen izquierdo navbar **/
.container {
  margin-left: 73px !important;
}

/** Fin **/

/*** ESTILOS PARA LOS BOTONES DE LOGIN ***/

#btnAcceder, #btnAlta, #btnOlvido {
  border-radius: 4px;
  background-color: darkcyan;

}

#btnAcceder {
  margin-right: 5px;
}

#btnAlta {
  margin-right: 5px;
}



/*** FIN ***/

/*** ESTILOS INPUT ***/

#email, #password {
  width: 195px;
}

/*** FIN ***/

/*** ESTILOS GRUPOS DE INPUT Y BOTONES ***/

.datosAcceso {
  margin-left: 90px;
  padding-bottom: 15px;
}

.botoneraAcceso {
  margin-left: 90px;
  padding-bottom: 15px;

}



/** MEDIAS QUERIE **/

@media (min-width: 320px) and (max-width: 360px) {

  .container {
    margin-left: 0px;;
  }

  .ajusteLateral {
    padding-left: 18px;
  }

  .input-group-btn {
  	display: flex;
  	flex-direction: column;
  	flex-wrap: wrap;
  	padding-left: 5px;
  }

  #btnAcceder, #btnAlta {
  	margin-right: 0px;
  }

}
