.lnr {
  display: inline-block;
  fill: currentColor;
  width: 1em;
  height: 1em;
  vertical-align: -0.05em;
}

.lnr-linearicons {
  color: #0F52BA;
  font-size: 40px;
}




.container {
  background-color: chocolate;
}

/* Estilos para contenedor cabecera */
.containerCabecera {
  padding: 15px;
}

/*****************************************/

/* EStilos para contenedor de filtros */
.containerFilter {
  background-color: white;
  width: ;
  height: ;
  padding: 5px;
  margin: 5px;
}

.unstyled, .listing {
	margin-top: 0;
	margin-left: 0;
	padding: 0;
	list-style: none;
	list-style-image: none;

}

.controlList {
    line-height: 1.2;
}

/*
.control-input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}
*/

.controlList-label {
  line-height: 2.1;
  padding: 8px;
  margin-bottom: 5px;
}

.separador {
  border-bottom: 1px solid #777;
  border-bottom-width: medium;

}

.checkboxTick {
  background-color: #b94000;
  border: 3px solid #b94000;
}


.lineaFiltro {
  padding-left: 15px;
}

.paddingFecha {
  padding-bottom: 10px;
}

/******************************************/

/* Estilos para contenedor de busqueda */

.containerSearch {
  background-color: white;
  width: ;
  height: ;
  padding: 5px;
  margin: 5px;
  padding-left: 40px;
  padding-right: 20px;
  height: 400px;
  overflow-x: hidden;
  overflow-y: auto;
}

/********************************************/

/* Estilos para los productos listados */

.listaProductos {
  padding: 5px 5px 10px 20px;
  border-bottom: 1px solid #cacaca;
  margin-left: -10px;
}

.paddingImagen {
  padding-left: 0px;
}

.separadorLateral {
  border-right: solid 1px #cacaca;
  padding-bottom: 5px;
}

}
.infoText--primary {

    font-size: 16px;
    font-size: 1.14286rem;
    font-weight: 500;

}
.infoText {

    font-size: 14px;
    color: #535353;
}

.tituloOferta {
    font-size: 20px;
    color: #535353;
    font-weight: 500;
    line-height: 1.4;
    margin: 0;
}

/********************************************/
