body {
	background-image: url('../imagenes/fondoBusquedas.jpg');
	background-size: 1366px;
}

img {
	width: 120px;
}



/* Estilos para contenedor cabecera */
.containerCabecera {
  padding: 15px;
  margin-top: 5%;
}

/*****************************************/

/* EStilos para contenedor de filtros */
.containerFilter {
  background-color: white;
  padding: 5px;
  margin: 5px;
  border-radius: 4px;
}

.unstyled, .listing {
	margin-top: 0;
	margin-left: 0;
	padding: 0;
	list-style: none;
	list-style-image: none;

}

.controlList {
    line-height: 1.2;
}

.controlList-label {
  line-height: 2.1;
  padding: 8px;
  margin-bottom: 5px;
}

.separador {
  border-bottom: 1px solid #777;
  border-bottom-width: medium;

}

.checkboxTick {
  background-color: #b94000;
  border: 3px solid #b94000;
}


.lineaFiltro {
  padding-left: 15px;
}

.paddingFecha {
  padding-bottom: 10px;
}

/******************************************/

/* Estilos para contenedor de busqueda */

.containerSearch {
  background-color: white;
  padding: 5px;
  margin: 5px;
  padding-left: 40px;
  padding-right: 20px;
  height: 430px;
  overflow-x: hidden;
  overflow-y: auto;
  border-radius: 4px;
	position: relative;
	left: 16%;

}

/********************************************/

/* Estilos para los productos listados */

.listaProductos {
  padding: 5px 5px 10px 20px;
  border-bottom: 1px solid #cacaca;
  margin-left: -10px;
}

.paddingImagen {
  padding-left: 0px;
}

.separadorLateral {
  border-right: solid 1px #cacaca;
  padding-bottom: 5px;
}


.infoText--primary {

    font-size: 16px;
    font-size: 1.14286rem;
    font-weight: 500;

}
.infoText {

    font-size: 14px;
    color: #535353;
}

.tituloOferta {
    font-size: 25px;
    color: #535353;
    font-weight: 500;
    line-height: 1.4;
    margin-bottom: 25px;
		margin-top: 0px;
}

.box-fecha {
	position: relative;
	top: 15px;
	padding-left: 5px;
}

#imagenNegocio {
  cursor: pointer;
	margin-top: 5px;
}
/********************************************/
