body{
  background-color: white;
  font-family: lao mn;
  margin: 0 auto 0 auto;  
  margin: 20px 0px 20px 0px;   
}

.container{
    padding-left: 3%;

}

{
  margin-right: 2%;
  float: left !important;
}

h5{
  text-decoration: underline;
  text-align: left;
}


a{
  font-size:12px;
  text-decoration: none;
  color:#2980b9;
}

a.olvido{
  padding-left: 8%;
}



h1{
  font-size:1.5em;
  color:#525252;
  text-align: center;
}

.box{
  background:white;
  width:300px;
  border-radius:6px;
  margin: 0px !important;
  padding:0px 0px 1% 0px;
  border: #D4D4D4 2px solid; 
}

.email, .contra{
  background:#ffffff;
  border: #ccc 1px solid;
  border-bottom: #ccc 2px solid;
  padding: 8px;
  margin-left: 8%;
  width:240px;
  color:#AAAAAA;
  margin-top:10px;
  font-size:1em;
  border-radius:4px;
}

.password{
  border-radius:4px;
  background:#ecf0f1;
  border: #ccc 1px solid;
  padding: 8px;
  width:250px;
  font-size:1em;
}

.btn{
  background:#b94000;
  width:125px;
  padding-top:5px;
  padding-bottom:5px;
  color:white;
  border-radius:4px;
  border: #27ae60 1px solid;
  
  margin-top:20px;
  margin-bottom:20px;
  float:left;
  margin-left:16px;
  font-weight:800;
  font-size:0.8em;
}

.btn:hover{
  background:#FF8F25;
  color:white; 
}

#btn2{
  float:left;
  background:#b94000;
  width:125px;  padding-top:5px;
  padding-bottom:5px;
  color:white;
  border-radius:4px;
  border: #2980b9 1px solid;
  text-align: center;
  margin-top:20px;
  margin-bottom:20px;
  margin-left:10px;
  font-weight:800;
  font-size:0.8em;
}

#btn2:hover{ 
background:#FF8F25; 
}





/** CSS general **/

hr {
  width: : 4px;
}

.colorTitulo {
  color: #b94000;
  padding-left: 20px;
  font-weight: bolder;
  font-size: 10px;
}
.jumbotron {
    background-color: white;
    padding-top: 15px !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
}


.row-index
{
  width: 75%;
}

/* Ajuste padding cabecera */
.noPaddingLogin {
  padding-left: 0px;
}

.noPaddingDirectorio {
  padding-right: 0px;
}

.panelLogin {
  border-radius: 0px;
}

/* Fin padding cabecera */

/* Padding busqueda avanzada */

.paddingBusquedaAvanzada {
  padding-top: 15px;
}

/************** FIN ESTILOS ************/

/** Medias queries **/

@media screen and (min-width: 768px) {

  .paddingBusquedaAvanzada {
    padding-top: 0px;
  }
}

@media screen and (max-width: 360px) {

  .row {
    margin-left: 0px;
  }

/** Medias queries con valores especificos **/

@media only screen and (max-width: 360px) {

.col-xs-offset-2 {
  margin-left: 10.667%;
}

#login {
  padding: 14px;
}

@media only screen and (max-width: 320px) {

.col-xs-offset-2 {
    margin-left: 5.667%;
}

#login {
  margin-bottom: 20px;
}